@font-face {
  font-family: 'iconfont';  /* project id 571842 */
  src: url('//at.alicdn.com/t/font_571842_t8qwbx8zn9vsra4i.eot');
  src: url('//at.alicdn.com/t/font_571842_t8qwbx8zn9vsra4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_571842_t8qwbx8zn9vsra4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_571842_t8qwbx8zn9vsra4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_571842_t8qwbx8zn9vsra4i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before { content: "\e6c5"; }

.icon-wechat:before { content: "\ec7d"; }

.icon-weibo:before { content: "\e892"; }

.icon-twitter:before { content: "\e902"; }

.icon-link:before { content: "\e632"; }

.icon-like:before { content: "\e7ce"; }

.icon-emoji:before { content: "\e623"; }

.icon-image:before { content: "\e62f"; }

.icon-code:before { content: "\e842"; }

.icon-release:before { content: "\e6ad"; }

.icon-setting:before { content: "\e626"; }

.icon-success:before { content: "\e6b1"; }

.icon-arrow-up:before { content: "\e6a5"; }

.icon-good:before { content: "\e635"; }

.icon-list:before { content: "\e699"; }

.icon-github:before { content: "\eee2"; }

.icon-user:before { content: "\e6b8"; }

.icon-comments:before { content: "\e69b"; }

.icon-email:before { content: "\e69f"; }
